h1 {
  text-align: left;
  font-size: 32px;
}


.auth-form {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0px;
}

/* Targeting all text-based inputs uniformly */
.auth-form input[type="email"],
.auth-form input[type="password"],
.auth-form input[type="text"] {
  width: 85%; /* Ensures they fill the modal width */
  padding: 12px 16px;
  font-size: 1rem;
  border: 1px solid black;
  background-color: white;
  color: black;
  border-radius: 6px;
  outline: none; /* Removes the default browser glow */
  transition: border-color 0.2s, box-shadow 0.2s;
  box-sizing: border-box; /* Crucial: includes padding in the width */
  align-self: center;
}

.auth-buttons{
  background-color: rgb(164, 164, 164);
  color: black;
  width: 85%;
  border: solid black 1px;
  border-radius: 350px;
  margin-top: 1.5rem;
  align-self: center;
}

.auth-form p {
  width: 85%; /* Ensures they fill the modal width */  
  align-self: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.forgot-password-container {
  text-align: right;
  margin-top: 2px;
  margin-bottom: -10px;
}

.forgot-password {
  text-align: right;
  color: blue;
  cursor: pointer;
  background: none !important;
  border: none;

}

.forgot-password:hover  {
  text-decoration: underline;
  color: darkblue; /* Darkens slightly on hover */ 
}

