.auth-form h1 {
 text-align: left;
  font-size: 26px;
  font-weight: 500;
  margin: 0 0 4px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0px;
}

/* Targeting all text-based inputs uniformly */
.auth-form input[type="email"],
.auth-form input[type="password"],
.auth-form input[type="text"] {
  width: 85%;
  padding: 12px 16px;
  font-size: 1rem;
  border: 1px solid rgb(74, 72, 72);
  background-color: white;
  color: rgb(103, 109, 108);
  border-radius: 6px;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
  box-sizing: border-box;
  align-self: center;
}

.auth-form input[type="email"]:hover,
.auth-form input[type="password"]:hover,
.auth-form input[type="text"]:hover {
  border-color: #999;
}

.auth-form input[type="email"]:focus,
.auth-form input[type="password"]:focus,
.auth-form input[type="text"]:focus {
  border-color: #2d6a4f;
  box-shadow: 0 0 0 3px rgba(45, 106, 79, 0.15);
}

.auth-buttons{
  background-color: #d4edda;
  color: #2d6a4f;
  border: 0.5px solid #b7dfc4;
  border-radius: 350px;
  width: 100%;
  margin-top: 0.5rem;
  padding: 13px;
  font-size: 14px;
  font-weight: 500;
}

.auth-form p {
  width: 85%; /* Ensures they fill the modal width */  
  align-self: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.forgot-password-container {
  text-align: right;
  margin-top: 2px;
  margin-bottom: -10px;
}

.forgot-password {
  text-align: right;
  color: blue;
  cursor: pointer;
  background: none !important;
  border: none;

}

.forgot-password:hover  {
  text-decoration: underline;
  color: darkblue; /* Darkens slightly on hover */ 
}

