# Database URL can be retrieved from the Project URL entry under APIs when running npx supabase status
DATABASE_URL=http://127.0.0.1:54321

# Secret key can be retrieved from the Secret entry under Authentication Keys when running npx supabase status
SECRET_KEY=your-secret-key

# Admin credentials for testing admin_login() endpoint
# Just message lang for the admin credentials
ADMIN_USERNAME=admin-username
ADMIN_PASSWORD=admin-password
ADMIN_JWT_SECRET=admin-jwt-secret
