#root {
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: left;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

p {
  color: var(--color-text);
}

h1 {
  color: var(--color-text);
}

button {
  background-color: var(--color-primary);
  color: var(--color-text);
}

button:hover {
  background-color: var(--color-primary-hover);
}