.create-container{
    border: solid black 2px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    width: 80vw;
    justify-content: center;
    align-items: center;
}
.img-container{
    border: solid black 2px;
    border-radius: 3px;
    width: 90%;
    height: 40%;
}
.product-photo-container{
    border: solid black 2px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}