.main-container{
    padding: 0px 10rem;
}
.main-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
#form{
    width: 100%;
}
.button-div{
    width: 100%;
    display: flex;
    gap: 20px;
    height: 3rem;
    box-sizing: border-box;
}
.create-button{
    width: 100%;
    border: solid black 2px ;
}
.create-button:hover {
    cursor: pointer;
}
.save-edit-button{
    width: 80%;
}
.save-edit-button{
    cursor: pointer;
}
.delete-button{
    width: 30%;
    cursor: pointer;
    background-color: red;
    color: white;
    border: none;
}
.delete-button:hover {
    background-color: darkred;
}

@media only screen and (max-width: 450px) {
    .main-container {
        padding: 0px 1rem;
    }
    .main-body {
        min-width: 95%;
    }
}