.admin-container {
    justify-content: start;
    align-items: start;
    height: 100vh;
    padding: 0px 10rem;
}
.admin-dashboard {
    padding: 0px 2rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    border: 1.5px solid var(--color-border);
    background-color: white;
    border-radius: 0.5rem;
    height: fit-content;
}
.user-list{
    min-height: 40vh;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1.5px solid var(--color-border);
    background-color: white;
    border-radius: 0.5rem;
    padding: 1.5rem;
}
.user{
    border: 3px solid black;    
    height: 5em;
}
.add-vendor-btn{
    margin-top: 0.5rem;
    flex-grow: 0;
    background-color: var(--color-secondary-border);
    border: none;
    color: var(--color-white);
}
.add-vendor-btn:hover{
    opacity: 0.85;
    background-color: var(--color-text);
}
@media screen and (max-width: 750px) {
    .admin-container {
        justify-content: start;
        align-items: start;
        height: 100vh;
        padding: 0.5rem 0.5rem 0px;
    }
    p {
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;    
    }
    .admin-dashboard {
        padding: 0px 0.5rem 0.5rem;
        display: flex;
        flex-direction: column;
        border: 1.5px solid var(--color-border);
        background-color: white;
        border-radius: 0.5rem;
        height: fit-content;
    }
  }