.container {
    justify-content: start;
    align-items: start;
    height: 100vh;
    padding: 0px 10rem;
}
.dashboard {
    padding: 0px 2rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    border: 1.5px solid var(--color-secondary-border);
    background-color: white;
    border-radius: 0.5rem;
}
.user-list{
    min-height: 40vh;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1.5px solid var(--color-secondary-border);
    background-color: white;
    border-radius: 0.5rem;
    padding: 1.5rem;
}
.user{
    border: 3px solid black;    
    height: 5em;
}
.add-vendor-btn{
    margin-top: 1rem;
    flex-grow: 1;
    height: 4rem;
}