# <project-id> can be retrieved from https://supabase.com/dashboard/project/<project-id> in your project dashboard
DATABASE_URL=https://<project-id>.supabase.co

# Secret key can be retrieved from going to Settings > API Keys
# and copy pasting a secret key from Secret Keys
SECRET_KEY=your-secret-key

# Just message lang for the admin credentials
ADMIN_USERNAME=admin-username
ADMIN_PASSWORD=admin-password
ADMIN_JWT_SECRET=admin-jwt-secret
