.credentials-banner {
    background-color: rgb(255, 232, 212);
    border: 1px solid rgb(255, 174, 0);
    margin-bottom: 1rem;
    padding: 1rem;
}

.credentials-banner p{
    margin-block-start: 0em;
    margin-block-end: 0.1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;       
}

.credentials-banner button{
    width: 100%;
    background-color: rgb(255, 225, 0);
    margin-top: 1rem;
}